@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 bg-primary text-white">Welcome to IPL Info Web</h1>
    <p>You can get the inforamtion about Teams and Players</p>
    <a class="nav-link text-primary bg-warning" asp-area="" asp-controller="Teams" asp-action="Index">Go to Teams Page</a> <br />
    <a class="nav-link text-primary bg-warning" asp-area="" asp-controller="Players" asp-action="Index">Go to Players Page</a>
</div>
